<a href="/">Back to joke page</a>
<h1>Add a joke</h1>

<form action="/addJoke" method="post">
    <label for="name">Name</label>
    <input name="name" type="name">

    <label for="joke">Joke</label>
    <input type="joke" type="text">

    <input type="submit" name="save">
</form>