<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='./stylesheets/styles.css'>
    <title>Make em laugh!</title>
  </head>
  <body>
    <h1>Bad dad jokes!</h1>
    <ul>
    {{#each jokes}}
      <li>
        <div class='username'>Username: {{name}}</div> 
        <br>
        <div class='joke'>Hilarious Joke: {{joke}}</div>
        <br>
        <button type="button"> This joke is awesome!</button>
        <button type='button'> What were you thinking??</button>
      </li>
    {{/each}}
    </ul>
  </body>
</html>
