<!DOCTYPE html>
<html>
  <head>
    <title>Make em laugh!</title>
  </head>
  <body>
    <ul>
    {{#each jokes}}
      <li>Username:{{name}} Hilarious Joke:{{joke}}</li>
    {{/each}}
    </ul>
  </body>
</html>
