<h1 class="profile-head">Joker {{jokerName}} Page</h1>

    <h3>Jokes by {{jokerName}}</h3>
    <p>{{jokerAbout}}</p>

{{!-- list of user's submites jokes --}}
<div class="profileJokesList">
    {{#each jokes}}
        <p class='joke'>
            {{joke}}
        </p>

    {{/each}}
</div>

